@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define blinking animation */
@keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  /* Blinking class for the marker */
  .blinking-icon {
    animation: blink 1s infinite; /* Change 1s to adjust speed */
  }

  @layer utilities {
    .bg-radial-gradient {
      background: radial-gradient(circle, var(--tw-gradient-stops));
    }
  }